@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(221, 220, 220);
}

ion-icon
{
    font-size: 100px;
}

.msgbox
{
    text-align: center;
    color: green;
}

label, p
{
    color: black;
    font-weight: 700;
    
}
.allign
{
    text-align: center;
    margin-top: 4%;
}

button
{
    position: relative;
    background: blue;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    text-align: center;
    transition-duration: 0.5s;
}


button:hover 
{
    transition-duration: 0.5s;
    background: #03e748;
    border: 2px solid green;
    color: black;
}
  
button:after 
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top:0;
    width: 100px;
    height: 40px;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px red;
}
  
button:active:after 
{
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}
  
button:active 
{
    top: 1px;
}
img
{
    width: 80px;
    height: 80px;
}