*{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    box-sizing: border-box;
}

body
{
    background-color: red;
    background-image: linear-gradient(to bottom left, rgb(194, 3, 252), red);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form
{
    width: 550px;
    height: 550px;
    border: 3px solid cyan;
    background-color: whitesmoke;
    margin-left: 31%;
    margin-top: 4%;
    border-radius: 3%;
}

h1
{
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: xx-large;  
}

.label 
{
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    padding-top:20px
}

.label::after{
    content:"*";
    color: red;
}

.fieldbox
{
    line-height: 35px;
    background-color: #d1d1d1;
    box-shadow: #d4d4d4;
    border-radius: 5px;
    font-size: 16px;
    border: 10px currentColor;
    color: #666;
    opacity: 100%
    
}

.space_inbetween::after
{
  content: "";
  display: table;
  clear: both;
}

.space_inbetween
{
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
.col1
{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.datebox{
    width: 200px;
    height: em;
    line-height: 35px;
    background-color: #d1d1d1;
    box-shadow: #d4d4d4;
    border-radius: 5px;
    font-size: 16px;
    border: 10px currentColor;
    color: #666;
    opacity: 100%
}

.selectbox{
    width: 200px;
    height: 2.3em;
    line-height: 35px;
    background-color: #d1d1d1;
    box-shadow: #d4d4d4;
    border-radius: 5px;
    font-size: 16px;
    border: 10px currentColor;
    color: #666;
    opacity: 100%
}

.option{
    color:black;
}

#login_button
{
  margin-top: 6%;
  margin-left: 33%;
  width: 30%;
  height: 45px;
  background-color: blue;
  border-color: blue;
  border-radius: 20px;
  color: white;
  transition: 0.5s;
  font-size: 20px;

}

.pswd_info {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 480px;
    width: 144px;
    padding: 5px;
    background: #fefefe;
    font-size: .750em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    height: 165px;
}




.info{
    font-size: 12px;
    font-style: bold;
}

.invalid{
    color:#9ea19e;
}

.valid{
    color:#209720;
}
.pswd_info ul{
  padding: 0px;
}
.pswd_info li{
    list-style: none;
}

.pswd_info.active
{
    display: block;
}
#login_button:enabled:hover
{
  background-color: black;
  color: white;
}

#login_button:disabled
{
  opacity: 50%;
}