<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your dream Job</title>
</head>
<body>
    <h1>Jobs</h1>
    <h2 class="login">
        <a href="/login">Apply for a Job</a>
         <a href="/login.html">Post a Job</a>
    </h2> 
    <header id="top_bar">
        <ul class="menu_bar">
            <li class="menu_bar_items">
                <a href="jobs.html">
                    <div>Jobs</div>
                </a>   
            </li>
            <li class="menu_bar_items">
                <a href="companies.html">
                    <div>Companies</div>
                </a>
            </li>
        </ul>
    </header>
   <footer>
    <a href="about.html">About</a>
    <a href="contact.html">Contact Us</a>
   </footer>
</body>
</html>