<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your career</title>
    <link rel="stylesheet" href="../static/login.css" >
</head>
<body class="login_by">
  <form autocomplete='off' class='form' method="post" action="/login">
    <div class='control1'>
      <h1>
        Sign In
      </h1>
    <div >
      <div class="addressbar"></div>
      <input class='fieldbox' id ='username' placeholder='Email' type='email' name='email' required>
        <div class="errormessage"></div>
    <div>
      <div class="addressbar"></div>
      <input class='fieldbox' id ='password' name='password' placeholder='Password' type='password' required>
    </div>
    <div class="choice">
      <input id='checkbox' type="checkbox" onclick="showPass()">Show password
      </div>
    <div class="invalid_msg">{{ msg }}</div>
    <button class='signin_button' type='submit' id='login_button'> 
      <div>
        Log In
      </div>
    </button>
    <div class="registration">
      <a href="/register">Create Account</a>
    </div>
  </div>
  </form>
  <p id="p"></p>
  <script src="../static/login.js"></script>
</body>
</html>
