<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register yourself for a happy life 😄</title>
    <link rel="stylesheet" href="../static/signin.css" >
</head>
<body>
    <form autocomplete='off' class='form' method="post" action="/login">
        First name : <input class='fieldbox' id ='fname' type='text' name='fname' required>
        <br>
        Last name : <input class='fieldbox' id ='lname' type='text' name='lname' required>
        <br>
        Date of Birth : <input class='fieldbox' id ='dob' type='text' name='dob' required>
        <br>
        Email ID : <input class='fieldbox' id ='email' type='text' name='email' required>
        <br>
        Phone Number : <input class='fieldbox' id ='pnumber' type='text' name='pnumber' required>
        <br>
        Password : <input class='fieldbox' id ='password' type='text' name='password' required>
        <br>
        Confirm Password : <input class='fieldbox' id ='cpassword' type='text' name='cpassword' required>
        <br>
        <button class='signin_button' type='submit' id='login_button'> 
            <div>
              Submit
            </div>
          </button>
    </form>
</body>
</html>