<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register yourself for a happy life 😄</title>
    <link rel="stylesheet" href="../static/registration.css" >
</head>
<body >
  <div class="form">
  <h1>
    Registration form
  </h1>
    <form autocomplete='off'  method="post" action="/register">
      <div class="space_inbetween">
        <div class="col1">
            <label class="label">First name</label>
            <input class='fieldbox' id ='fname' type='text' name='fname' required>
        </div>
        <div class="col1">
            <label class="label">Last name</label> 
            <input class='fieldbox' id ='lname' type='text' name='lname' required>
        </div>
      </div>
      <div class="space_inbetween">
        <div class="col1">
            <label class="label">Date of Birth</label>
            <input class='datebox' id ='dob' type='date' name='dob' required>
        </div>
        <div class="col1">
            <label class="label">Gender</label> 
            <select class='selectbox' id ='gender' type='text' name='gender' required>
              <option class="option" disabled selected>--Select--</option>
              <option class="option" value="Male">Male</option>
              <option class="option" value="Female">Female</option>
              <option class="option" value="Other">Other</option>
            </select>
        </div>
      </div>
      <div class="space_inbetween">
        <div class="col1">
            <label class="label">Email ID</label>
            <input class='fieldbox' id ='email' type='email' name='email' required>
        </div>
        <div class="col1">
            <label class="label">Phone Number</label> 
            <input class='fieldbox' id ='pnumber' type='text' name='pnumber' required>
        </div>
      </div>
      <div class="space_inbetween">
        <div class="col1">
            <label class="label">Password</label>
            <input class='fieldbox' id ='password' type='password' name='password' required>
        </div>
        <div class="pswd_info">
          <p class="info">Password must have:</p>
          <ul>
            <li id="length" class="invalid" >atleast 8 characters and maximum 14 characters</li>
            <li id="capital" class="invalid" >atleast 1 uppercase</li>
            <li id="letter" class="invalid" >atleast 1 lowercase</li>
            <li id="number" class="invalid" >atleast 1 number</li>
            <li id="special" class="invalid" >atleast 1 special char</li>
          </ul>
        </div>
        <div class="col1">
            <label class="label">Re-Enter Password</label> 
            <input class='fieldbox' id ='rpassword' type='text' name='rPassword' required>
        </div>
      </div>
      <div class="space_inbetween">
        <button class='submit' type='submit' id='login_button'> 
          <div>
            Submit
          </div>
      </button>
      </div>
    </form>
  </div>
  <script src="../static/registration.js"></script>
</body>
</html>